@font-face {
  font-family: "iconfont"; /* Project id 2823819 */
  src: url('./iconfont/iconfont.woff2?t=1632636959570') format('woff2'),
       url('./iconfont/iconfont.woff?t=1632636959570') format('woff'),
       url('./iconfont/iconfont.ttf?t=1632636959570') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icontupian:before {
  content: "\eac4";
}

.iconsearch:before {
  content: "\e67d";
}

.iconarrow-left-bold:before {
  content: "\e685";
}

.iconarrow-down-filling:before {
  content: "\e688";
}

